@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --font-family: "Poppins", sans-serif;
  --dark-blue: #0a1930;
  --light-blue: #1f93ff;

  --color-white: #fff;
  --color-dark: #333;

  --color-grey: #eee;
  --box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

  --color-purple: #9d0191;
  --color-orange: #ff7722;

  --color-primary: #007bff;
  --color-success: #28a745;
  --color-danger: orangered;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 5rem;
}

button {
  background: #fff;
  border: 1px solid #17a2b8;
  padding: 0.3rem 0.5rem;
  border-radius: 0.2rem;
  font-size: 1rem;
  font-family: var(--font-family);
  cursor: pointer;
  color: #17a2b8;
}

#deckgl-wrapper {
  position: relative !important;
}

pre {
  padding: 1rem;
  background-color: #efefef;
}

.map-container {
  display: flex;
  margin-bottom: 2rem;
  gap: 1rem;
}

.map-wrapper {
  width: 70%;
}

.map-wrapper + pre {
  flex-grow: 1;
  margin: 0;
}
